*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    height: 9.6vh;

    #nav{
        display: flex;
        justify-content: space-between;
    
        #logo{
            width: 11.6vw;
            margin-left: 4.7vw;
            img{
                width: 100%;
            }
        }
    
        #menu{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 13vh;
            width: 14vw;
            color: white;
            img{
                width: 2vw;
            }
            p{
                font-size: .9vw;
            }
        }
        #menu:hover{
            background: #A80015;
            color: white
        }
    }
}

section#all{
    height: 100vh;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 9.6vh;

    #choose{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        height: 9.6vh;
        width: 20%;

        p{
        font-size: .8vw !important;
        letter-spacing: .5vw;
        }

        i{
            font-size: 3vh;
            margin-bottom: 2%;
        }
    }

    #choose:hover{
        color: #005eff;
    }

    
}

    