.red{
    background-color: #D0021B;
}

.black{
    background-color: black;
}

.gray{
    background-color: rgb(240, 240, 240);
}

.silver{
    background-color:rgb(192,192,192);   
}

.blue{
    background-color: rgb(0, 0, 50);
}

.dark-gray{
    background-color: rgb(128, 128, 128);
}