div#all{
    display: flex;
    height: 100vh;

    #carrousel{
        width: 50vw;
        height: 100vh;
        background-color: rgb(238, 238, 238);

        #sidebar{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 45vh;
            height: 99.8vh;
            border-top: 0.05vh solid gray; 
            border-bottom: 0.1vh solid gray;
            margin-left: 4vw;
            color: white;

            #p_title{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                width: 72%;
                height: 22vh;

                span{
                    flex: 0 1 auto;

                    &:first-child{
                        font-size: 3vw;
                    }
                    &:last-child{
                        font-size: 2vw;
                    }
                    & *{
                        display: inline-block;
                    }
                }
            }
        }
    }
}