* { font-family: sans-serif; margin: 0; padding: 0; }

a { text-decoration: none; }

header { height: 9.6vh; }

header #nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

header #nav #logo { width: 11.6vw; margin-left: 4.7vw; }

header #nav #logo img { width: 100%; }

header #nav #menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 13vh; width: 14vw; color: white; }

header #nav #menu img { width: 2vw; }

header #nav #menu p { font-size: .9vw; }

header #nav #menu:hover { background: #A80015; color: white; }

section#all { height: 100vh; }

footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: black; height: 9.6vh; }

footer #choose { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: white; height: 9.6vh; width: 20%; }

footer #choose p { font-size: .8vw !important; letter-spacing: .5vw; }

footer #choose i { font-size: 3vh; margin-bottom: 2%; }

footer #choose:hover { color: #005eff; }

.red { background-color: #D0021B; }

.black { background-color: black; }

.gray { background-color: #eeeeee; }

@font-face { font-family: 'fontello'; src: url("./fontello.eot?83127260"); src: url("./fontello.eot?83127260#iefix") format("embedded-opentype"), url("./fontello.woff?83127260") format("woff"), url("./fontello.ttf?83127260") format("truetype"), url("./fontello.svg?83127260#fontello") format("svg"); font-weight: normal; font-style: normal; }

#carrousel, #truck, #gallery { height: 100vh; }

#carrousel, #gallery { width: 50vw; }

div#all { display: -webkit-box; display: -ms-flexbox; display: flex; }

div#all section#carrousel { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; z-index: -1; }

div#all section#carrousel #sidebar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 45vh; height: 99.8vh; border-top: 0.1vh solid gray; border-bottom: 0.1vh solid gray; margin-left: 4vw; color: white; }

div#all section#carrousel #sidebar #p_title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 19vw; height: 22vh; }

div#all section#carrousel #sidebar #p_title span { -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; }

div#all section#carrousel #sidebar #p_title span:first-child { font-size: 4vw; }

div#all section#carrousel #sidebar #p_title span:last-child { font-size: 2.5vw; }

div#all section#carrousel #sidebar #p_title span * { display: inline-block; }

div#all section#truck { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; }

div#all section#truck #image { margin-top: 15vh; width: 55vw; height: 60vh; }

div#all section#truck #image img { width: 100%; height: 100%; }

div#all section#truck #arrow { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-item-align: end; align-self: flex-end; width: 14vw; height: 13vh; right: 0; }

div#all section#truck #arrow #btn_left, div#all section#truck #arrow #btn_right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 49%; color: white; font-size: 3vh; }

div#all section#truck #arrow #btn_left:hover, div#all section#truck #arrow #btn_right:hover { background-color: #161616; }

div#all section#gallery { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; z-index: -1; }

div#all section#gallery div#deck { width: 37vw; }

div#all section#gallery div#deck #select { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 20vh; margin-bottom: 1vh; }

div#all section#gallery div#deck #select #out, div#all section#gallery div#deck #select #in { width: 50%; }

div#all section#gallery div#deck #select #out p, div#all section#gallery div#deck #select #in p { padding-left: 2vw; font-size: 1.2vw; font-weight: 600; margin-bottom: 2vh; }

div#all section#gallery div#deck #select #in { border-bottom: 1vh solid red; }

div#all section#gallery div#deck #select #out { border-bottom: 1vh solid white; }

div#all section#gallery div#deck #photos { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 72.5vh; }

div#all section#gallery div#deck #photos img { display: inline-block; width: 18.4vw; }

div#all section#gallery div#deck #photos #square { width: 45vw; height: 49vh; bottom: -3.6vh; right: 40vw; position: absolute; z-index: 2; }
